name: CI

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up PNPM
        uses: pnpm/actions-setup@v2
        with:
          version: 7

      - name: Set Up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: pnpm install --frozet-lockfile

      - name: Run Tests
        run: pnpm run lint && pnpm run build
